@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?91xeqe');
  src:  url('fonts/icomoon.eot?91xeqe#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?91xeqe') format('truetype'),
    url('fonts/icomoon.woff?91xeqe') format('woff'),
    url('fonts/icomoon.svg?91xeqe#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-pencil2:before {
  content: "\e906";
}
.icon-phone:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-location2:before {
  content: "\e948";
}
.icon-users:before {
  content: "\e972";
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-user-check:before {
  content: "\e975";
}
.icon-user-tie:before {
  content: "\e976";
}
.icon-search:before {
  content: "\e986";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-blocked:before {
  content: "\ea0e";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-checkmark2:before {
  content: "\ea11";
}
.icon-enter:before {
  content: "\ea13";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-arrow-right:before {
  content: "\ea34";
}
.icon-arrow-left:before {
  content: "\ea38";
}
.icon-facebook2:before {
  content: "\ea91";
}
