/*------------------------------------------------------------*/
/*------------------------- SECTION FORM ---------------------*/
/*------------------------------------------------------------*/
.column {
    display: flex;
    flex-direction: column;
    
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.container__form {
    width: 90%;
    height: 100%;
}

    .form__item {
        height: auto;
        width: 100%;
        margin-top: 20px;
        align-items: center;
    }
    .form__title {
        margin-top: 16px;
        text-align: center;
        
        font-family: maven-blod;
        color: #da373b;
    }

        .item__label {
            display: inline;
            font-family: maven-blod;
            color: #565656;
            font-size: 20px;
        }

        .item__input {
            height: 25px;
            width: 100%;
            padding-left: 5px;

            border: 1px solid #939393;
            background-color: #fff;
            border-radius: 5px;
            color: #565656;
        }

        .item__input--date {
            height: 35px;
            width: 100%;
            padding-left: 5px;

            border: 1px solid #939393;
            background-color: #fff;
            border-radius: 5px;
            color: #565656;
        }

        .item__select {
            height: 35px;
            width: 100%;
            padding-left: 5px;
            

            border: 1px solid #939393;
            border-radius: 5px;
            background-color: #fff;
            color: #565656;
        }

        .item__input--SIGE {
            width: 40%;
            max-width: 50%;
            height: 40px;
            padding-left: 2px;

            font-size: 35px;
            color: #565656;
        }

        .item__input--edit {
            padding-left: 15px;
            font-family: maven-blod;
            font-size: 18px;

            color: #565656;
            background-color: transparent;
        }


        .item__input--radio{
            margin-bottom: 0;
            height: 20px;
            width: 25px;
        }

        .item__input--check {
            margin-bottom: 0;
            height: 30px;
            width: 80px;
        }

        .item__submit {
            margin-top: 15px;
            width: 100%;
            height: 50px;
            font-size: 20px;

            background-color: #da373b;
            color: #fff;
            border: none;
            border-radius: 5px;
        }

        .item__submitFicha {
            margin-top: 10px;
            width: 100%;
            height: 50px;
            font-size: 20px;

            background-color: #40c53e;
            color: #fff;
            border: none;
            border-radius: 5px;
        }

        .item__submitFicha--registrar {
            width: 80%;
        }

        .submitFicha__decoration {
            font-family: oleo;
            font-size: 20px;
        }

        .item__submitFicha--doble {
            margin-left: 10px;
            margin-right: 10px;
            width: 45%;
            height: 50px;
        }
        
        .item__submitFicha:hover {
            cursor: pointer;
            background-color: #3a9d38;
        }

        .item__submit--edit {
            width: 45%;
        }

        .item__submit:hover {
            cursor: pointer;
            background-color: #db2323;
        }


/*------------------------------------------------------------*/

@media screen and (min-width: 768px) {
    
    .item__submitFicha {
        width: 60%;
    }

}