/*------------------------------------------------------------*/
/*------------------------- SECTION FORM ---------------------*/
/*------------------------------------------------------------*/
.column {
    display: flex;
    flex-direction: column;
    
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.container__form {
    width: 90%;
    height: 100%;
}

    .form__item {
        height: auto;
        width: 100%;
        margin-top: 20px;
        align-items: center;
    }
    .form__title {
        margin-top: 16px;
        text-align: center;
        
        font-family: maven-blod;
        color: #da373b;
    }

        .item__label {
            font-family: maven-blod;
            color: #565656;
            font-size: 20px;
        }

        .item__input {
            height: 25px;
            width: 100%;
            padding-left: 5px;

            border: 1px solid #939393;
            background-color: #fff;
            border-radius: 5px;
            color: #565656;
        }
        
        .item__input--CI {
            display: inline;
            height: 25px;
            width: 80%;
            margin-left: 5px;

        }

        .item__input--date {
            height: 35px;
            width: 100%;
            padding-left: 5px;

            border: 1px solid #939393;
            background-color: #fff;
            border-radius: 5px;
            color: #565656;
        }

        .item__select {
            height: 35px;
            width: 100%;
            padding-left: 5px;
            

            border: 1px solid #939393;
            border-radius: 5px;
            background-color: #fff;
            color: #565656;
        }
        
            .item__select--CI {
                display: inline;
                height: 25px;
                width: 50px;
            }

        .item__input--SIGE {
            width: 40%;
            max-width: 50%;
            height: 40px;
            padding-left: 2px;

            font-size: 35px;
            color: #565656;
        }

        .item__input--edit {
            padding-left: 15px;
            font-family: maven-blod;
            font-size: 18px;

            color: #565656;
            background-color: transparent;
        }

        .item__input--estado {
            font-family: oleo;
        }

        .item__input--radio{
            margin-bottom: 0;
            height: 20px;
            width: 25px;
        }

        .item__input--check {
            margin-bottom: 0;
            height: 30px;
            width: 80px;
        }

        .item__submit {
            margin-top: 15px;
            width: 100%;
            height: 50px;
            font-size: 20px;

            background-color: #3498db;
            color: #fff;
            border: none;
            border-radius: 5px;
        }

        .item__submit:hover {
            cursor: pointer;
            background-color: #2980b9;
        }

        .item__submitFicha {
            margin-top: 10px;
            width: 100%;
            height: 50px;
            font-size: 20px;

            background-color: #3498db;
            color: #fff;
            border: none;
            border-radius: 5px;
        }

        .item__submitFicha:hover {
            cursor: pointer;
            background-color: #2980b9;
        }

        .item__submitFicha--palnilla {
            height: 40px;
            width: 100%;
        }

        .item__submitFicha--preM:nth-child(3) {
            background-color: #e74c3c;
        }
        .item__submitFicha--preM:nth-child(3):hover {
            background-color: #c0392b;
        }

        .item__submitFicha--registrar {
            width: 80%;
        }

        .submitFicha__decoration {
            font-family: oleo;
        }

        .item__submitFicha--doble {
            margin-left: 10px;
            margin-right: 10px;
            width: 45%;
            height: 50px;
        }

        .item__submitFicha--modal:nth-child(1) {
            background-color: #e74c3c;
        }
        .item__submitFicha--modal:nth-child(1):hover {
            background-color: #c0392b;
        }

        .item__submitFicha--modal:nth-child(2) {
            background-color: #2ecc71;
        }
        .item__submitFicha--modal:nth-child(2):hover {
            background-color: #27ae60;
        } 
        

        .item__submitFicha--modal-mini {
            margin-top: 20px;
        }

        .item__submit--edit {
            width: 45%;
        }

            .item__submit--edit:nth-child(1) {
                background-color: #e74c3c;
            }

            .item__submit--edit:nth-child(1):hover {
                background-color: #c0392b;
            }

            .item__submit--edit:nth-child(2) {
                background-color: #2ecc71;
            }

            .item__submit--edit:nth-child(2):hover {
                background-color: #27ae60;
            }


/*------------------------------------------------------------*/

@media screen and (min-width: 768px) {
    
    .item__submitFicha {
        width: 60%;
    }
    .item__input--CI {
        width: 93%;
        margin-left: 8px;
    }
    .item__input--SIGE {
        width: 13%;
    }
}