@media print {
    * {
        position: relative;
        box-sizing: border-box;
        text-decoration: none;
        margin: 0px;
        padding: 0px;
        z-index: 1;
        font-family: Arial, Helvetica, sans-serif;
    }

    .print-flex {
        display: flex;
    }

    .print-row {
        flex-direction: row;
    }

    .print-container {
        margin: 10px auto;
        width:95%;
    }
    .print-header {
        text-align: center;
        margin-bottom: 30px;
    }
    
    .print-title-box {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
    }

    .print-id-data {
        display: inline;
        font-style: italic;

    }

    .print-line {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        border-top: 1px solid black;
    }

    .print-last-line {
        border-bottom: 1px solid black;
    }

    .print-data-container{
        border-right: 1px solid black;
        display:flex;
        justify-content: space-between;
        height: 28px;
        width: 100%;
        min-width:15%;
        padding-right: 3px;
        flex-direction: column;
    }

    .print-data-container:first-child{
        border-left: 1px solid black;
    }

    .print-title-data{
        font-weight: 900;
        font-size: 12px;
        height: 16px;
        padding-left: 3px;
    }

    .print-content-data{
        position: absolute;
        bottom: 0;
        right: 5%;
        font-size: 12px;
        height: 16px;
    }

    .print-width6 {
        width:60%;
    }

    .print-width4 {
        width:41%;
    }

    .print-container-mother {
        margin-top: 30px;
    }
    .print-container-father {
        margin-top: 20px;
    }
    .print-container-representative {
        margin-top: 20px;
    }

    .print-container-scolar {
        margin-top: 30px;
    }

    .print-container-firms {
        margin-top: 50px;
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 30px;
    }

    .print-firm-representative {
        border-bottom: 1px solid black;
        width: 200px;
        height: 30px;
    }

    .print-firm-teacher {
        border-bottom: 1px solid black;
        height: 30px;
        width: 200px;
    }

    .print-container-firms-nots {
        display: flex;
        width: 100%;
    }

    .print-nots-representative {
        position: absolute;
        top: 0;
        left: 13%;
    }

    .print-nots-teacher {
        position: absolute;
        top: 0;
        right: 15%;
    }