/*------------------------------------------------------------*/
/*--------------------------- SECTION ------------------------*/
/*------------------------------------------------------------*/

.section {
    width: 100%;
    z-index: 0;
    min-height: 80vh;
    padding-top: 80px;
}

.login-register {
    transition: all .2s;
    width: 200%;
    
    display: flex;
    justify-content: space-between;
    transform: translate( -50%, 0);
}
.register--open {
    transform: translate(0,0);
}

    .section__container {
        width: 40%;
        max-width: 500px;
        height: auto;
        margin: 20px auto;
        padding: 16px;
        

        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        align-items: center;

        background-color: #f3f3f3;
        box-shadow: -3px 2px 2px #c0c0c0 , 2px 2px 2px #c0c0c0;
        border-radius: 10px;
    }

    .section__container--1 {
        height: 320px;
    }

        .container__title {
            width: 100%;
            padding-bottom: 10px;
            line-height: 35px;
            text-align: center;

            color: #565656;
            border-bottom: 2px dotted #939393;
        }

            .title__decoration {
                font-family: maven-blod;
                color: #da373b;
            }

/*------------------------------------------------------------*/

.container__message {
    display: inline-block;
    color: #565656;
    margin: 15px;
    font-size: 22px;
    font-weight: 900;
}

    .btn-back {
        display:inline-block;
        text-align: center;
        line-height: 50px;
        margin-top: 15px;
        width: 40%;
        height: 50px;
        font-size: 20px;

        background-color: #da373b;
        color: #fff;
        border: none;
        border-radius: 5px;
    }

    .btn-back:hover {
        cursor: pointer;
        background-color: #db2323;
    }

.container__btns {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 50px;
}

/*------------------------------------------------------------*/


/*------------------------------------------------------------*/
/*------------------------- SECTION FORM ---------------------*/
/*------------------------------------------------------------*/
.column {
    display: flex;
    flex-direction: column;
    
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.container__form {
    width: 90%;
    height: 100%;
}

    .form__item {
        height: auto;
        width: 100%;
        margin-top: 15px;
        align-items: center;
    }
    .form__title {
        margin-top: 16px;
        text-align: center;
        
        font-family: maven-blod;
        color: #da373b;
    }

        .item__label {
            display: inline;
            font-family: maven-blod;
            color: #565656;
        }

        .item__input {
            height: 35px;
            width: 100%;
            margin-bottom: 10px;
            padding-left: 5px;
            border: 1px solid #939393;
            border-radius: 5px;
        }

        .item__input--radio{
            margin-bottom: 0;
            height: 30px;
            width: 50px;
        }

        .item__input--check {
            margin-bottom: 0;
            height: 30px;
            width: 80px;
        }

        .item__submit {
            margin-top: 15px;
            width: 100%;
            height: 50px;
            font-size: 20px;

            background-color: #da373b;
            color: #fff;
            border: none;
            border-radius: 5px;
        }

        .item__submit:hover {
            cursor: pointer;
            background-color: #db2323;
        }

/*------------------------------------------------------------*/


/*------------------------------------------------------------*/
/*----------------------- SECTION PROFILE --------------------*/
/*------------------------------------------------------------*/

.container__item {
    width: 90%;
    height: 100%;
    margin-top: 15px; 
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

    .item__data__title {
        margin-bottom: 5px;
        font-size: 20px;
        
        color: #da333b;
    }

    .item__data__content {
        padding-left: 15px;
        font-size: 18px;
        font-family: maven-blod;
        
        color: #535353;
    }

/*------------------------------------------------------------*/