@font-face{
    font-family: oleo;
    src: url(/fonts/Oleo_Script/OleoScript-Regular.ttf);
}
@font-face{
    font-family: maven-pro;
    src: url(/fonts/Maven_Pro/MavenPro-Regular.ttf);
}
@font-face{
    font-family: maven-blod;
    src: url(/fonts/Maven_Pro/MavenPro-Bold.ttf);
}
@font-face{
    font-family: icons;
    src: url(/icons/icomoon/fonts/icomoon.ttf);
}

*{
    position: relative;
    box-sizing: border-box;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {

    font-family: maven-pro;
}

h1 {
    margin: 0px;
}


/*------------------------------------------------------------*/


/*------------------------------------------------------------*/
/*-------------------------- HEADER --------------------------*/
/*------------------------------------------------------------*/

.header {
    width: 100%;
    height: 60px;
    padding: 16px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    background-color: #f3f3f3;
    border-top: 4px solid #da373b;
    box-shadow: 2px 2px 2px #c0c0c0;
}

    .header__logo {
        font-family: oleo;
        color: #565656;

    }

        .logo__title {
            font-weight: 200;
            display: inline-block;
        }

        .logo__decoration {
            width: 5px;
            height: 5px;
            display: inline-block;

            background-color: #da373b;
            border-radius: 50%;
        }

    .header__btn {
        font-family: icons;
        cursor: pointer;

        color: #565656;
        border: none;
        background: transparent;
    }

    .header__btn::before {
        content: "\e9bd";
        font-size: 24px;
    }

    .header__btn:active {
        color: #da373b;
    }

/*------------------------------------------------------------*/


/*------------------------------------------------------------*/
/*------------------------- HEADER NAV -----------------------*/
/*------------------------------------------------------------*/

.header__nav {
    width: 70%;
    height: 100%;
    z-index: 20;
    transform: translate(-100%, 0);
    transition: all .4s;
    
    position: fixed;
    top: 0;
    left: 0;
    
    color: #da373b;
    background-color: rgba(224,224,224,.7);
    font-size: 24px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.header__nav--open {
    transform: translate(0,0);
}

    .nav__title {
        width: 100%;
        height: 60px;
        padding-top: 10px;
        font-size: 36px;

        background: rgba(86,86,86,.9);
        border-bottom: 2px solid #ba373b;
    }

    .nav__item {
        width: 100%;
        height: 60px;
    }

    .nav__item:hover {
        background-color: rgba(86,86,86,.9);
    }

        .item__link {
            height: 100%;
            width: 100%;
            display: inline-block;
            line-height: 60px;

            color: #da373b;
        }

        .item__link--home::before {
            font-family: icons;
            content: "\e900  ";
        }

        .item__link--login::before {
            font-family: icons;
            content: "\ea13  ";
        }

        .item__link--register::before {
            font-family: icons;
            content: "\e973  ";
        }

/*------------------------------------------------------------*/


/*------------------------------------------------------------*/
/*--------------------------- SECTION ------------------------*/
/*------------------------------------------------------------*/

.section {
    width: 100%;
    
}
    .section__container {
        width: 80%;
        max-width: 500px;
        height: auto;
        margin: 20px auto;
        padding: 16px;

        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        align-items: center;

        background-color: #f3f3f3;
        box-shadow: -3px 2px 2px #c0c0c0 , 2px 2px 2px #c0c0c0;
        border-radius: 10px;
    }

    .section__container--height{
        height: 750px;
    }
        .container__title {
            width: 100%;
            padding-bottom: 10px;
            line-height: 35px;
            text-align: center;

            color: #565656;
            border-bottom: 2px dotted #939393;
        }

            .title__decoration {
                font-family: maven-blod;
                color: #da373b;
            }
/*------------------------------------------------------------*/

.container__message {
    display: inline-block;
    color: #565656;
    margin: 15px;
    font-size: 22px;
    font-weight: 900;
}

.btn-back {
    display:inline-block;
    text-align: center;
    line-height: 50px;
    margin-top: 15px;
    width: 40%;
    height: 50px;
    font-size: 20px;

    background-color: #da373b;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.btn-back:hover {
    cursor: pointer;
    background-color: #db2323;
}

.container__btns {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 50px;
}

/*------------------------------------------------------------*/
/*------------------------- SECTION FORM ---------------------*/
/*------------------------------------------------------------*/

.container__form {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

    .form__item {
        width: 100%;
    }

        .item__label {
            font-family: maven-blod;
            margin-top: 15px;


            color: #565656;
        }

        .item__input {
            width: 100%;
            height: 35px;
            padding-left: 5px;

            border: 1px solid #939393;
            border-radius: 5px;
        }

        .item__submit {
            margin-top: 15px;
            width: 100%;
            height: 50px;
            font-size: 20px;

            background-color: #da373b;
            color: #fff;
            border: none;
            border-radius: 5px;
        }

        .item__submit:hover {
            cursor: pointer;
            background-color: #db2323;
        }

/*------------------------------------------------------------*/


/*------------------------------------------------------------*/
/*------------------------ BREAKPOINTS -----------------------*/
/*------------------------------------------------------------*/

@media screen and (min-width:768px){
    
    .header {
        padding: 0;
        padding-left: 16px;
    }
    
        .header__btn {
            display: none;
        }

        .header__nav {
            transform: translate(0,0);
            z-index: 0;
            max-width: 600px;
            height: 60px;

            position: relative;
            flex-direction: row;

            background: none;
        }

            .nav__title {
                display: none;
            }
}

/*------------------------------------------------------------*/